<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false" />
  <arg name="debug" default="false" />
  <arg name="paused" default="true"/>
  <arg name="robot" default="omniduino" />
  <arg name="world_name" default="worlds/empty.world"/>
  

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="use_sim_time" value="true" />
    <arg name="world_name" value="$(arg world_name)"/>
  </include>
  <include file="$(find omniduino_controller)/launch/omniduino_control.launch" />
  <include file="$(find omniduino_controller)/launch/mouse_ctrl.launch" />


  <param name="robot_description" command="$(find xacro)/xacro '$(find omniduino_description)/robots/$(arg robot).urdf.xacro'" />


  <node name="spawn_omniduino_model" pkg="gazebo_ros" type="spawn_model" args="-x 0 -y 0 -z 0.25  -unpause -urdf -param robot_description -model omniduino" respawn="false" output="screen" />
  <node name="omniduino_twist" pkg="omniduino_controller" type="omniduino_twist" output="screen">
    <param name="gain" value="20.5"/>
    <param name="dWheel2Wheel_wid" value="0.08"/>
    <param name="dWheel2Wheel_hei" value="0.08"/>
    <param name="f_l" value="1"/>
    <param name="r_l" value="0"/>
    <param name="f_r" value="3"/>
    <param name="r_r" value="2"/>
    <remap from="wheel0" to="/omniduino/wheel1_controller/command" />
    <remap from="wheel1" to="/omniduino/wheel2_controller/command" />
    <remap from="wheel2" to="/omniduino/wheel3_controller/command" />
    <remap from="wheel3" to="/omniduino/wheel4_controller/command" />
  </node> 
  <node name="omniduino_lift" pkg="omniduino_controller" type="omniduino_lift" respawn="false" output="screen">
    <remap from="sus0" to="/omniduino/sus_controller0/command" />
    <remap from="sus1" to="/omniduino/sus_controller1/command" />
    <remap from="sus2" to="/omniduino/sus_controller2/command" />
    <remap from="sus3" to="/omniduino/sus_controller3/command" />
  </node>

</launch>
